<header>
    <nav>
        <a href="startseite.php">Startseite</a>
        <a href="ueberuns.php">Über uns</a>
        <a href="kontakt.php">Kontakt</a>
    </nav>
    <h1>Unser Webseitenprojekt</h1>
</header>